/* Add Your Styles Here */
body{
    font-family: Arial, sans-serif;
    margin: 0;
}
/* ----------Main Header --------- */
.main-header{
    background-image: url("images/technology.JPG");
    padding: 15px;
    background-size: cover;
    color: white;
    text-align: right;
    font-size: 18px;
}
/* ------ Main Navigation ----- */
.main-nav {
    background-color: black;
    overflow: hidden;
}
.main-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-nav ul li{
    float: left;
}
.main-nav ul li a{
    text-decoration: none;
    color: white;
    padding: 12px 25px;
    display: inline-block;
}
.main-nav ul li a:hover{
    background-color: #889373;
}
.main-nav ul li a.active{
    background-color:#64C95A;
}

/* ----- Latest News ------ */
.latest-news{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 7px;
    margin-top: 5px;
    box-shadow: 0 0 10px #64C95A;
    animation: news 2s infinite linear;
    overflow: hidden; /* mandatory */
}
.latest-news span{
    color: orangered;
    font-weight: bold;
}
@keyframes  news {
  0%,50%,100%{background-color: #889373}
  25%,75%,{background-color: black}
}
.latest-news p{
    margin: 0;
    animation: para 14s infinite linear;
}
@keyframes para {
    0%{transform: translateX(100%)}
    100%{transform: translateX(-80%)}
}
/* ---- Home News Section ------ */
.home-news-section{
    margin-left: 150px;
}
.home-news-article{
    border: 5px solid black;
    width: 220px;
    float: left;
    height: 550px;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    transition: all 1s;
}
.home-news-article:hover{
    box-shadow: 0 0 15px black;
    cursor: pointer;
    width: 330px;
}
.home-news-article img{
    width: 100%;
}
.home-news-article p{
    padding: 10px;
}
/* ----- Break ---------- */
.break{
    clear: both;
}

/* ----- Main News Section ---- */
.main-news-section{
    width: 1100px;
    margin: auto;
}
.main-news-article{

}

.main-news-article h2{
    background: linear-gradient(to right ,forestgreen,black,forestgreen);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0 15px black;
}
.zoom{
    width: 600px;
    height: 350px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
.zoom img{
    height: inherit;
    width: inherit;
    transition: all 1s;
    border-radius: 15px;
}
.zoom:hover img{
    transform: scale(1.2,1.2);
}
/* ----- Main footer ------ */
.main-footer{
    background: linear-gradient(to right ,forestgreen,black,forestgreen);
    color: white;
    text-align: center;
    padding: 10px;
}
.main-footer small , .main-footer a{
    color: orange;
}

/* ------ Gallary Section -----*/
.gallary-section{
    margin-left: 10px;
}
.gallary-article{
    border: 2px solid  black;
    width: 220px;
    float: left;
    margin: 7px;
    padding: 7px;
    text-align: center;
    border-radius: 15px;
}
.gallary-article:hover{
    cursor: pointer;
    box-shadow: 0 0 15px black;
}
.gallary-article img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

/* ------ About Section ----- */

.about-section{
    width: 1100px;
    margin: auto;
}
.about-article p{
    font-size: 17px;
    font-family: "Comic Sans MS", sans-serif
}
.client-images{
    text-align: center;
}
.client-images img{
    width: 250px;
    height: 150px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
/* ------ contact Section --- */
.contact-section{
    background-image: url("../img/image3.jpeg");
    padding: 10px;
    text-align: center;
}
.contact-article{
    width: 300px;
    margin: auto;
    background: white url("../img/image5.jpeg") no-repeat scroll right bottom;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
.contact-article h2{
    color: white;
    padding-top: 15px;
}
input [type='text'],input[type='email'] {
    font-size: 18px;
    text-align: center;
    border: none;
    outline: none;
    height: 35px;
    border-bottom: 3px solid forestgreen;
    background: transparent;
    color: white;
    margin: 5px;
}
input[type='text']:focus,
input[type='email']:focus {
    border-bottom: 3px solid #7c867e;
}
::placeholder {
    color: lightgray;
}
textarea{
    margin: 5px;
    border: 3px solid forestgreen;
    outline: none;
    background: transparent;
    width: 200px;
    border-radius: 15px;
}
textarea:focus{
    border: 3px solid  #7c867e;
}
input[type='submit']{
    margin: 15px;
    background-color: forestgreen;
    border: none;
    color: white;
    font-size: 18px;
    padding: 12px 50px;
    border-radius: 50px;
    outline: none;
}
input[type='submit']:hover{
    background-color: darkgreen;
    cursor: pointer;
    box-shadow: 0 0 15px white;
}




